#map{
  width: 100%;
  height: 100%;
}

.leaflet-top{
  display: none;
}

.map{
  width: 282px;
  height: 570px;
  position: relative;
  overflow: hidden;

  button{
    border: 0;
    background: transparent;
  }

  &__menu{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 15px 0 10px;
    border-radius: 30px;
    position: absolute;
    width: 95%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    box-shadow: 0px 51px 106px 0px rgba(32, 32, 32, 0.15);

    &__main{
      button{
        padding: 8px 10px 3px 10px;
      }

      img{
        width: 15px;
        height: 12px;
      }
    }

    &__nav{

      button{
        padding: 9px 9px 4px 9px;
        position: relative;

        &::after{
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background: #57e28f;
          position: absolute;
          bottom: 0;
          left: 0;
          transform: scale(.5);
          transition: all .5s ease;
          opacity: 0;
          z-index: -1;
        }
      }

      img{
        width: 15px;
        height: 14px;
      }

      .active{
        
        &::after{
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}